			*{
				font-family: 'Merriweather Sans', sans-serif !important;
			}
		#addboardform > div {
			margin-bottom: 8px;
			font-weight:lighter;
			display:table-caption;
		}
		#writer{
			display: inherit;
		}

		#board_img{
			display: inline-grid;
		}
		
		.inteMain >label{
			margin-bottom: 5px;
		}
		.inteMain >label > p{
			font-weight: bold;
		}
		
		#preview{
			width:250px; 
			height:250px;
		}
		#inteboard_Image{
			margin-bottom: 7px;
		}
		#file-upload-button{
			width:68px;
		}
		#sub,#List{
			cursor:pointer;
			width:100px;
			height:30px;
			box-shadow: 3px 4px 0px 0px #dcecfb;
			background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
			background-color:#bddbfa;
			border-radius:15px;
			border:1px solid #84bbf3;
			display:inline-block;
			cursor:pointer;
			color:#471f54;
			font-family:Arial;
			font-size:17px;
			font-weight:bold;
			padding:2px;
			text-decoration:none;
			text-shadow:0px 1px 0px #528ecc;
			
		}
		#sub:hover,#List:hover{
			background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
			background-color:#80b5ea;
		}
		#sub:active,#List:active{
			position:relative;
			top:1px;
		}
		#inte_Text{
			resize: none;
		}
		.btnform{
			display: list-item;
		}
		input[type=text],input[type=password],input[type=email],textarea{
				border-radius: 5px;
				border:0.5px solid skyblue;
			}