<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						
<mapper namespace="com.model2.mvc.service.cart.CartDao">

	<resultMap id="cart" type="com.model2.mvc.service.domain.Cart">
		<id property="cartId" column="CART_ID" />
		<result property="userId" column="USER_ID" />
		<result property="prodNo" column="PROD_NO" />
		<result property="qty" column="QTY" />
		<result property="regDate" column="REG_DATE" />
		<association property="product" column="PROD_NO" javaType="com.model2.mvc.service.domain.Product"
			select="com.model2.mvc.service.product.ProductDao.getProduct" />
	</resultMap>

	<insert id="addCart"
		parameterType="com.model2.mvc.service.domain.Cart">
		INSERT INTO CART (CART_ID, USER_ID, PROD_NO, QTY)
		VALUES (SEQ_CART_ID.NEXTVAL, #{userId}, #{prodNo}, #{qty})
	</insert>

	<update id="updateQty"
		parameterType="com.model2.mvc.service.domain.Cart">
		UPDATE CART SET QTY = #{qty} WHERE CART_ID = #{cartId}
	</update>

	<delete id="deleteCart" parameterType="int">
		DELETE FROM CART WHERE CART_ID = #{value}
	</delete>

	<select id="getCart" resultMap="cart" parameterType="int">
		SELECT CART_ID, USER_ID, PROD_NO, QTY, REG_DATE FROM CART WHERE CART_ID =
		#{value}
	</select>

	<select id="getCartList" resultMap="cart" parameterType="string">
		SELECT CART_ID, USER_ID, PROD_NO, QTY, REG_DATE
		FROM CART
		WHERE USER_ID = #{value}
		ORDER BY REG_DATE DESC
	</select>
</mapper>
