<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="callSettersOnNulls" value="false"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <!-- FQCN Alias -->
  <typeAliases>
    <typeAlias alias="user" type="com.model2.mvc.service.domain.User"/>
    <typeAlias alias="product" type="com.model2.mvc.service.domain.Product"/>
    <typeAlias alias="purchase" type="com.model2.mvc.service.domain.Purchase"/>
    <typeAlias alias="productImage" type="com.model2.mvc.service.domain.ProductImage"/>
    <typeAlias alias="cart" type="com.model2.mvc.service.domain.Cart"/>
    <typeAlias alias="search" type="com.model2.mvc.common.Search"/>
  </typeAliases>
</configuration>
